.App {
  font-family: "Arimo", sans-serif;
  text-align: center;
  margin: 10px;
}
.App .container {
  display: block;
  margin: auto;
  max-width: 800px;
  border: solid 1px rgb(0, 153, 255);
  border-radius: 4px;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 25%,
    rgb(0, 153, 255) 100%
  );
}
.App a {
  color:  #0099ff;;
}