:root {
  --default-text-color: #2a3d66;
  --background-color: rgba(215, 137, 215, 0.9);
  --main-color: #9d65c9;
  --secondary-color: #f7e8f6;
  --heading-font: 'Eczar', serif;
  --default-font: 'Fira Mono', monospace; 
}
.SearchEngine Header {
  margin: 15px 0;
  padding: none;
  display: flex;
  justify-content: space-between;
  max-height: 50px;
}
.SearchEngine form {
  display: flex;
  border-radius: 4px;
}
.SearchEngine .search-bar::placeholder {
  color: var(--main-color);
}
.SearchEngine .search-button {
    background-color: var(--background-color);
    color: var(--default-text-color);
    border: solid 1px var(--default-text-color);
    border-radius: 4px;
}
@media (max-width: 767px) {
  .SearchEngine Header {
    display: block;
    max-height: fit-content;
  }
  .SearchEngine form {
    justify-content: center;
    margin: 10px 0;
  }
}