:root {
    --default-text-color: #2a3d66;
    --background-color: rgba(215, 137, 215, 0.9);
    --main-color: #9d65c9;
    --secondary-color: #f7e8f6;
    --heading-font: 'Eczar', serif;
    --default-font: 'Fira Mono', monospace; 
  }
  .TempConversion {
    display: inline-block;
    margin-left: 5px;
  }
  .TempConversion .temp-unit {
    text-decoration: none;
    font-size: 15px;
    color: var(--main-color);
    position: relative;
    top: -8px;
  }